.login {
    width: 100vw;
    height: 80vh;
}

.login > h1{
    margin-bottom:25px;
}

.login-form{

}

.login-form > label{
    margin-bottom:15px;
}

.login-form > label > input{
    margin-left:10px;
}

.login-button{
    width:200px;
    height:50px;
    border-radius: 5px;
    border:none;
    

    background-color: #00cc99;
    color:white;
    font-size: 15px;
}